---
debug: true
---
<div class="partial controller" {{#block "attributes"}} data-partial="elements/background" data-controller="./partials/elements/Background"{{/block}}{{#if target}} data-target="{{{target}}}"{{/if}}{{#if axis}} data-axis="{{{axis}}}"{{/if}}>
  <span class="background" data-hook="background"></span>
</div>
