---

---
<div{{#block "attributes"}} class="partial controller" data-partial="elements/indicator" data-controller="./partials/elements/Indicator"{{/block}}{{#if target}} data-target="{{target}}"{{/if}}>
  {{#block "content"}}
    <span class="bar" data-hook="bar"></span>
  {{/block}}
</div>
