---

---
{{#mixin "elements/indicator" this}}
  {{#content "attributes"}}
    class="partial controller"
    data-partial="elements/indicator/horizontal-segments"
    data-controller="./partials/elements/indicator/HorizontalSegments"
  {{/content}}
  {{#content "content"}}
    <span class="bar center" data-hook="bar"></span>
  {{/content}}
{{/mixin}}
