.partial[data-partial="fragments/offset"] {
  position: absolute;
  left: 0;
  bottom: 0;background: rgba(255, 255, 255, 0.5);
  font-family: sans-serif;box-shadow: 2px -2px 0px 4px rgba(0,0,0,0.2);
  border-top: solid #cccccc 1px;
  border-right: solid #cccccc 1px;
  padding: 10px;
  [type="button"] {
    display: block;
    margin-top: 10px;
    width: 100%;
  }
}
