---

---
<div class="partial controller" data-partial="fragments/offset" data-controller="./partials/fragments/Offset">
  <label><small>Offset (Rad):</small></label>
  <input name="offset" type="text" value="0" placeholder="Offset" data-hook="offset" /><small> * π</small>
  <input type="button" value="Set Offset" />
  <input type="button" data-value="6.283185307179586" value="360° (2π)" />
  <input type="button" data-value="3.141592653589793" value="180° (π)" />
  <input type="button" data-value="1.5707963267948966" value="90° (1/2π)" />
  <input type="button" data-value="0.7853981633974483" value="45° (1/4π)" />
</div>
